data/recipes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Root element -->
    <xs:element name="recipes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="recipe" type="RecipeType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Recipe type -->
    <xs:complexType name="RecipeType">
        <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="cuisines" type="CuisinesType"/>
            <xs:element name="primaryDifficulty" type="DifficultyLevel"/>
            <xs:element name="supportedLevels" type="SupportedLevelsType"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="prepTime" type="xs:nonNegativeInteger"/>
            <xs:element name="cookTime" type="xs:nonNegativeInteger"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <!-- Cuisines type: exactly 2 cuisine elements -->
    <xs:complexType name="CuisinesType">
        <xs:sequence>
            <xs:element name="cuisine" type="CuisineType" minOccurs="2" maxOccurs="2"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Supported levels type: exactly 3 level elements -->
    <xs:complexType name="SupportedLevelsType">
        <xs:sequence>
            <xs:element name="level" type="DifficultyLevel" minOccurs="3" maxOccurs="3"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Difficulty level enumeration -->
    <xs:simpleType name="DifficultyLevel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Beginner"/>
            <xs:enumeration value="Intermediate"/>
            <xs:enumeration value="Advanced"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Cuisine type enumeration -->
    <xs:simpleType name="CuisineType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Italian"/>
            <xs:enumeration value="French"/>
            <xs:enumeration value="Indian"/>
            <xs:enumeration value="Chinese"/>
            <xs:enumeration value="Japanese"/>
            <xs:enumeration value="Thai"/>
            <xs:enumeration value="Spanish"/>
            <xs:enumeration value="Greek"/>
            <xs:enumeration value="Mediterranean"/>
            <xs:enumeration value="Mexican"/>
            <xs:enumeration value="American"/>
            <xs:enumeration value="British"/>
            <xs:enumeration value="European"/>
            <xs:enumeration value="African"/>
            <xs:enumeration value="Asian"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
